useDynLib(coalescentMCMC, .registration = TRUE)

export(.coalescentMCMCenv, coalescentMCMC, dcoal, dcoal.linear,
       dcoal.step, dcoal.time, dcoal.time2, EdgeLengthJittering,
       getMCMCtrees, NeighborhoodRearrangement, TipInterchange)

importFrom(ape, as.phylo, branching.times, dist.dna, Ntip, reorder.phylo)
importFrom(coda, mcmc)
importFrom(phangorn, phyDat, pml)
importFrom(stats, hclust, rbinom, reorder, runif)
